
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!--CSS and SCSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/layout.scss" type="text/scss" />


    <!--jQuery-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!--AJAX Requests-->
    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>
    <!-- Top nav bar -->
    <nav>

        <div class="logo toggle">
          <button type="button">LOGO HERE</button>
        </div>

      <div class="input-group">
        <span class="appName">WADDAYAWANNADO?</span>
        <div class="textSubmit">
          <textarea class="form-control" aria-label="With textarea" placeholder="What do you wanna do?"></textarea>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>

      <div class="listIcons">
        <div>
          <button type="button" class="movies button">To Watch</button>
          <div class="toWatch content"></div>
        </div>

        <div>
          <button type="button" class="restaurants button">To Eat</button>
          <div class="toEat content"></div>
        </div>

        <div class="dropdown">
          <button type="button" class="books button">To Read</button>
          <div class="toRead content"></div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>

        <div>
          <button type="button" class="products button">To Buy</button>
          <div class="toBuy content"></div>
        </div>

        <div>
          <button type="button" class="misc button">Miscellaneous</button>
          <div class="other content"></div>
        </div>
      </div>

    </nav>



    <!-- Page-specific (main) content here -->
    <div class="lists">
      <div class="users"></div>
    </div>
  </body>

</html>
