<!DOCTYPE html>
<html lang="en">

<head>
  <title>Logister Page</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--CSS and SCSS-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/logister.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">

  <!--jQuery-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!--AJAX Requests-->

  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src ="../routes/apis.js"></script> -->




</head>

<body>
  <h1>Project Name  &#128512</h1>
  <div class = "form">



<form method="POST" class = "login-form" action="/logister">
  <div class = "credentials">
     <p>Username:</p>
     <textarea class = "username" name="username" required placeholder="Enter username"></textarea>
  </div>
  <div class = "credentials">
     <p>Password:</p>
     <input type="password" class = "password" required  name="password" placeholder="Enter password"></input>
     <input type = "submit" class="input-btn" value ="log in"/>

  </form>
</div>

<form method="POST" action="/register">
  <h2>Dont have an account? Register here</h2>
  <div class = "register-form">
  <p>Username:</p>
  <textarea class = "username" name="username" required placeholder="Enter username"></textarea>
  <p>Password:</p>
  <input type="password" class = "password"  name="password" required placeholder="Enter password"></input>
   </div>
  <input type = "submit" class="input-btn register-form" value ="Register"/>
</form>

<input id = "show-register-btn" class="input-btn" type = "submit" value ="Register"/>
</div>
<h2 class ="register-form">Got an account? Login here</h2>
<input id = "show-login-btn" class="input-btn" type = "submit" value ="log in"/>

</body>

</html>
