<!DOCTYPE html>
<html lang="en">

<head>
  <title>Logister Page</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--CSS and SCSS-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/logister.css" type="text/css" />
  <!-- <link rel="stylesheet" href="../styles/layout.scss" type="text/scss" /> -->


  <!--jQuery-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!--AJAX Requests-->

  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src ="../routes/apis.js"></script> -->




</head>

<body>

 <h1>Hello</h1>
</body>

</html>
