// See: https://sass-lang.com/


nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 150px;
  width: 100%;
  background-color: hotpink;
}

.input-group {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.appName {
  display: inherit;
  justify-content: center;
}

.textSubmit {
  display: flex;

}

.listIcons {
  display: inherit;
  justify-content: space-evenly;
}

.icon {
  font-size: 30px;
}

.lists {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown:hover .button {
  background-color: red;
}

.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.content a:hover {
  background-color: #ddd;
}
