// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: hotpink;
}

.input-group {
  display: inherit;
  flex-direction: column;
    
  width: 45%;
}

.appName {
  display: inherit;
  justify-content: center;
}

.listIcons {
  display: inherit;
  justify-content: space-between;

}

.lists {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}


