// See: https://sass-lang.com/
body{
  background-image: url(/images/background.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Barlow', sans-serif;
}

nav {
  display: flex;
  flex-direction:column;
  height: 150px;
  width: 100%;
  background-color: lightslategray;
  opacity: 0.8;

}

.input-group {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 25px;
}

.appName {
  display: inherit;
  justify-content: center;
}

.textSubmit {
  display: flex;

}

.listIcons {
  display: inherit;
  justify-content: space-evenly;
}

.icon {
  font-size: 30px;
  opacity: .8;
  color: white;
}

.lists {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.dropdown:hover .button {
  background-color: rgba(0, 225, 255, 0.411);
  cursor: pointer;
}

.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2px;
}

.content a:hover {
  background-color: #ddd;
}

.fa-plus:hover{
  height:50%;
  background-color: rgb(155, 155, 155);
}

.fa-plus{
  height:80%
}

.fa-trash-alt:hover{
  height:50%;
  background-color: rgb(155, 155, 155);
}

.profile-view {
 display: none;
}

.userText {
  resize: none;
  background-color: transparent;
  width: 30em;
  border: none;
  border-bottom: 3px rgba(0, 0, 0, 0.397) solid;
  opacity: 1;
  font-size: 1.5em;
  height: 65%;
}

#input {
  height: 65%;
  background-color: transparent;
  border: none;
}

#input:hover {
  cursor: pointer;
}

.userText:focus{
  outline: none;
}

.fa-clipboard-check {
  font-size: 45px;
}

#edit-profile {
  background-color: transparent;
  border: none;
}

.userInt {
  display: flex;
  justify-content: row;
  align-self: center;
}

.logout {
  background-color: inherit;
  border: none;
}



.fa-sign-out-alt {
  font-size: 37px;
}

.fa-sign-out-alt:hover {
  cursor: pointer;
}

.fa-user-edit:hover {
  cursor: pointer;
}

.LOGO-btn{
  background-color: transparent;
  border: none;
}

.LOGO {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -40vh;
  z-index: -1;
}

img {
  height:80vh;
}

.profile-view {
  margin-left: 2em;
  margin-top: 1em;
}

h3{
  font-size: 3em;
  margin: 0%;
  color: rgba(255, 255, 255, 0.822);
}

p {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.822);
}

.profile-username, .profile-email, .profile-bio {
  height:2.5em;
  resize: none;
  background-color: rgba(255, 255, 255, 0.6);
    width: 12em;
    border: none;
    border-bottom: 3px rgba(0, 0, 0, 0.397) solid;
    opacity: .8;
    outline: none;
}

.profile-form{
  padding:0.5em 0.5em;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.822);
}
.fa-save{
cursor: pointer;

}
