body {

  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
  background-image: url(/images/background.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.input-btn {
  width: 6em;
  height: 3em;
  background-color:transparent;
  border-radius: 50%;
  border:0;
}
.input-btn:hover{
  cursor: pointer;
}

textarea {
  resize: none;
  margin: 0.5em 0.5em;
}
.credentials {


  display: inline-block;

}

h1{
  font-size: 5em;
  position: absolute;
  margin-bottom:30%
}

p {
  margin: 0.5em 0.5em;
  font-size:1.5em;
  font-weight: bold;
}

.fa-sign-in-alt {
  color: rgba(255, 255, 255, 0.822);
  font-size:40px;
}

.fa-campground{
  color: rgba(255, 255, 255, 0.829);
  font-size:40px
}

h2{
  color:white;
}

.username {
  height:2.5em;
  resize: none;
  background-color: rgba(255, 255, 255, 0.6);
    width: 12em;
    border: none;
    border-bottom: 3px rgba(0, 0, 0, 0.397) solid;
    opacity: 1;
}

.username:focus{
  outline: none;
}

.password {
  height:2.5em;
  resize: none;
    background-color: rgba(255, 255, 255, 0.6);
    width: 12em;
    border: none;
    border-bottom: 3px rgba(0, 0, 0, 0.397) solid;
    opacity: 1;
}

.password:focus{
  outline: none;
}

#pwfkup {
  height:15px
}
