body {
  background-color: rgb(124, 124, 209);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Limelight', cursive;
}

.form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-btn {
  width: 6em;
  height: 3em;
  background-color:hotpink;
  border-radius: 50%;
  border:0;
}
.input-btn:hover{
  box-shadow: 3px 3px;
}

textarea {
  resize: none;
  margin: 0.5em 0.5em;


}
.credentials {


  display: inline-block;

}

h1{
  font-size: 5em;
  margin-top: 5%;
}

p {
  margin: 0.5em 0.5em
}

